body {
  background: url("https://res.cloudinary.com/radiscipio/image/upload/v1566938615/ldk7yfspcamsinxsvd1r.jpg")
    no-repeat;
  background-size: cover;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* HEADER Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.2em;
  background: white;
  border-bottom: 3px solid #000;
}

.header a {
  text-decoration: none;
  margin: 0 2em;
}

.header img {
  height: 6em;
}

.header h1 {
  margin-bottom: 0.2em;
}

/* FOOTER Styles */
.footer {
  text-align: center;
  background: #303034;
  color: white;
  height: 4em;
}

.devlink {
  text-decoration: none;
  color: red;
}

.devlink:hover {
  font-size: 1.1em;
}

/* POKEMON Container Styles */
.container {
  display: flex;
  justify-content: space-between;
}

/* List of POKEMON Styles*/
.eachPokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 3em;
  text-transform: uppercase;
}

.eachPokemon div {
  margin-left: 0.5em;
}

.eachPokemon img {
  margin-left: 9em;
}
